/*Body*/

body {
  background: #c72c41;
}

.global-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

/*Web search*/

.form {
  margin-bottom: 7px;
}

.title {
  font-family: "Lobster", cursive;
  text-align: center;
  background: #2d132c;
  color: white;
  font-weight: normal;
}

/*Search form*/

.character {
  width: 240px;
  height: 20px;
}

.find {
  height: 25px;
}

/*Basic container*/

.container {
  display: flex;
  text-align: center;
  background: #2d132c;
  padding-top: 20px;
  padding-right: 40px;
}

.shows__item {
  list-style: none;
  display: inline-block;
  padding-top: 1px;
  height: 390px;
  width: 260px;
  background: #801336;
  margin-left: 20px;
  margin-bottom: 20px;
}

.shows__name {
  color: white;
  font-family: "Caveat", cursive;
  margin-bottom: 8px;
  margin-top: 15px;
  width: 255px;
}

.image {
  border: 2px solid gray;
}

/*Favorite container*/

.title-fav {
  font-family: "Lobster", cursive;
  color: white;
  font-weight: normal;
  margin-top: auto;
  border-bottom: 3px solid pink;
}

.section-fav {
  width: 300px;
  margin-right: 10px;
}

.container-fav {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  background: #2d132c;
  padding-top: 20px;
  padding-right: 60px;
}

.shows__name-fav {
  color: white;
  font-family: "Caveat", cursive;
  margin-bottom: 7px;
  margin-top: 8px;
  width: 190px;
}

.shows__item-fav {
  list-style: none;
  display: inline-block;
  padding-top: 1px;
  height: 290px;
  width: 200px;
  background: #801336;
  margin-left: 20px;
  margin-bottom: 20px;
}

.button-remove {
  border: 1px solid white;
  border-radius: 50%;
  background: white;
  color: #ee4540;
  width: 20px;
  margin: auto;
}

.shows__imagefav {
  border: 5px solid yellow;
  height: 200px;
}
